<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        span {
            width: 50px;
            height: 50px;
            margin: 1px;
            border: 1px solid black;
            display: inline-block;
            overflow: hidden;
            text-align: center;
            line-height: 50px;
            font-family: small;
        }
    </style>
</head>

<body>
    <div class="row">
        <span>`</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span>0</span>
        <span>-</span>
        <span>=</span>
        <span>Backspace</span>
    </div>
    <div class="row">
        <span>Tab</span>
        <span>q</span>
        <span>w</span>
        <span>e</span>
        <span>r</span>
        <span>t</span>
        <span>y</span>
        <span>u</span>
        <span>i</span>
        <span>o</span>
        <span>p</span>
        <span>[</span>
        <span>\</span>
    </div>
    <div class="row">
        <span>Caps Lock</span>
        <span>a</span>
        <span>s</span>
        <span>d</span>
        <span>f</span>
        <span>g</span>
        <span>h</span>
        <span>j</span>
        <span>k</span>
        <span>l</span>
        <span>;</span>
        <span>'</span>
        <span>Enter</span>
    </div>
    <div class="row">
        <span>L-Shift</span>
        <span>z</span>
        <span>x</span>
        <span>c</span>
        <span>v</span>
        <span>b</span>
        <span>n</span>
        <span>m</span>
        <span>,</span>
        <span>.</span>
        <span>/</span>
        <span>R-Shift</span>
    </div>
</body>

</html>