@charset "utf-8";

.pg {
    margin-top: 200px;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.head {
    background-image: url("title.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 284px;
    filter:grayscale(1);
}

.head h1 {
    display: none;
}

.entries {
    float: left;
    width: 450px;
}

.sidebar {
    float: left;
    text-align: right;
    width: 200px;
    margin-left: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.foot {
    background-color: #333;
    border-top-width: 1px;
    border-top-color: #999;
    padding: 10px;
    color: #FFF;
    margin-top: 10px;
    clear: left;
    text-align: center;
}